.room_block{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.room_list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.room{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.room_title{
    color:#000;
    font-size: 24px;
    font-weight: bold;

}

.room_info{
    font-size: 16px;
    color: #000;
}

.room_price{
    font-size: 20px;
    color: #000;
    font-weight: bold;
}